html{
 height:100%;
}

body{
 height:100%;
 font-family: 'Hind', sans-serif;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 125%;
}

table {
  width: 100%;
}

td, th {
  padding-right: 5%;
}

#email{
  margin: 5% 0 0 0;
}

.container {
 width: 52%;
 margin: auto;
 height:100%;
 padding: 0;
  font-size: 1.1em;
}

.container .jumbotron {
  font-family: inherit;
  background-image: url("../img/header_bg.png");
  opacity: 0.8;
  margin-bottom: 0;
  border: none;
  border-radius: 0px;
}

.nav {
  background-color: #b16545;
  opacity: 0.7;
}

.nav-tabs {
  font-weight: 600;
  font-size: 120%;
}

.row {
  margin: 0;
}

.nav-link {
  color: black;
}

.active {
  color: black;
  background-color: #fde8df;
}

.nav>li>a:hover {
  color: black;
  background-color: #fde8df;
  background: #fde8df;
}


#tcnm-logo { 
  margin: auto;
  display: block;
  height: auto;
  width: 60%;
  /*border: 4px solid RED;*/
}

address {
  font-style: normal;
  line-height: 1.8em;
}


.areal {
  background: #fde8df;
  height: 650px;
  line-height: 1.8em;
  padding-top: 10px;
}

.partners {
  border-left: .5px solid black;
  background: #fde8df;
  height: 650px;
}

.logo {
  width:90%;
  margin: 30px 4%;
  #border: 4px solid BLUE;
  display: none;
}

@media only screen and (max-width: 992px) {

.container {
  width: 100%;
  height:100%;
  margin-left: 0;
  /*min-width: 700px;*/
 }

 #tcnm-logo { 
  margin: auto;
  display: block;
  height: auto;
  width: 75%;
}

.nav-tabs {
  font-weight: 600;
  font-size: 100%;
}

.areal{

  height: 600px; 
}

.partners {
  text-align: center;
  height: auto;
  border: none;
  padding: 5px 0 0 10px;
}

.logo {
  width: 50%;
}


}

