html{
 height:100%;
}

body{
 height:100%;
 font-family: 'Hind', sans-serif;
}

#container {
 width: 60%;
 margin: auto;
 margin-top: 1.5%;
 margin-bottom: 1.5%;
 height:100%;
 min-width: 760px;
 #border: 4px solid RED;
}

header, footer {
 padding: 1%;
 height: 140px;
 width: 97%;
 max-width: 1100px;
 border-radius: 25px;
 border: 2px solid #73AD21;
}

#tcnm-logo { 
  float:left;
  height: 140px;
  width: 50%;
  #border: 4px solid RED;
}

address {
  #font-family: Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  height:100px;
}

#menu {
  #clear: both;
  float: left;
  padding: 1%;
  #font-family: Arial, sans-serif;
  font-size: 20px;
  border-radius: 25px;
  border: 2px solid #73AD21;
  width: 12%;
  height: 680px;
}

#menu ul li a {
  font-style: normal;
  text-align: center;
  width:100%;
  text-decoration: none;
  color: black;
}

#menu ul li a:visited {
  font-style: normal;
  text-align: center;
  text-decoration: none;
  color: black;
}

#menu ul li a:hover {
  font-weight: bold;
}
#menu ul li {
	list-style-type: none;
	text-align: center;
	padding: 0;
	width:100%;
	height: 40px;
	#border: 4px solid RED;
}

#menu ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
	width:100%;
	height: 680px;
	#border: 4px solid RED;
}


#areal {
  #clear: both;
  float: left;
  #background-color: #FFBF81;
  background: url("./img/tennis-ball-my.jpg") no-repeat;
  #margin-left: 20%;
  padding: 1%;
  letter-spacing: 1px;
  font-size: 1.1em;
  border-radius: 25px;
  border: 2px solid #73AD21;
  width:60%;
  height: 680px;
}

#areal p a {
  color: black;
}

#partners {
  #border: 5px solid RED;
  #margin-left: 72%;
  float:left;
  padding: 1%;
  width:20%;
  #min-width: 150px;
  #max-width: 320px;
  height: 680px;
  border-radius: 25px;
  border: 2px solid #73AD21;
  #text-align: center;
}

.logo {

  width:90%;
  #height: 100px;
  margin: 30px 4%;
  #border: 4px solid BLUE;
  display: none;
}

.logo-ntc {
  width:50%;
  height: 90px;
  margin-left: 4%;
  margin-bottom: 8%;
  margin-top: 4%;
  #border: 4px solid BLUE;
}

@media only screen and (max-width: 1024px) {
	
 #container {
  width: 100%;
  height:100%;
  margin-left: 0;
  min-width: 700px;
}

header, footer {
  min-width: 680px;
}  

#areal{
  width:60%;
  min-width:350px;  
}

#partners{
  #width:20%;
  min-width:120px;  
}

#menu{
  width:12%;
  min-width:80px;  
}

}

